
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>$SITETITLE$</title>
    <link rel="stylesheet" href="/default.css">
    <link rel = "icon" href = "$SITEICON$" type = "image/x-icon">
</head>
<body class="base">
    <div class="left">
        <img class="artscroll" src="$ARTSCROLL$">
    </div>
    <div class="right">
        <div class="header">
            <span class="title-container">
                <div class="title" style="font-size: 6em; margin-top: -6.5px;">$TITLE$</div>
            </span>
            <div class="episode">$EPISODE$</div>
            <div class="quote">
                $QUOTE$
            </div>

            <table class="top-table">
                <tr>
                    <td class="top-table">
                        <a class="top-links" href="/index.html">Home</a>
                    </td>
                    <td class="top-table">
                        <a class="top-links" href="/projects.html">Projects</a>
                    </td>
                    <td class="top-table">
                        <a class="top-links" href="/movies.html">Movies</a>
                    </td>
                    <td class="top-table">
                        <a class="top-links" href="/blog.html">Blog</a>
                    </td>
                    <td class="top-table">
                        <a class="top-links" href="/links.html">Links</a>
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="content">$CONTENT$</div>
        <hr>
        <div class="footer">
            <div class="footer-left">Last edited on $EDITDATE$</div>
            <div class="footer-right">:||</div>
        </div>
    </div>
</body>
</html>