<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>$SITETITLE$</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel = "icon" href = "$SITEICON$" type = "image/x-icon">
</head>
<body class="base">
	<div class="header">
        <h1 class="top-banner">Welcome... to the sijhsite!</h1>
        <noscript>Random projects, thoughts, etc ... without JavaScript</noscript>
        <div id="motd-div" style="font-size: 20px;" class="top-banner"></div>
        <hr>
        <table class="top-table">
            <tr>
                <td class="top-table">
                    <div id="toggle-button-div">
                        <noscript>(Unavailible without JavaScript)</noscript>
                        <button id="toggle-button" class="top-links">
                            <img src="/img/floppy.gif" width=15 height=15 class="icon">Theme
                        </button>
                    </div>
                </td>
                <td class="top-table">
                    <div id="home-button-div">
                        <a class="top-links" href="/index.html">
                            <img src="/img/catscape.gif" width=15 height=15 class="icon">Home
                        </a>
                    </div>
                </td>
                <td class="top-table">
                    <div id="projects-button-div">
                        <a class="top-links" href="/index.html">
                            <img src="/img/computer.gif" width=15 height=15 class="icon">Projects
                        </a>
                    </div>
                </td>
                <td class="top-table">
                    <div id="movies-button-div">
                        <a class="top-links" href="/index.html">
                            <img src="/img/cursor.gif" width=15 height=15 class="icon">Movies
                        </a>
                    </div>
                </td>
                <td class="top-table">
                    <div id="blog-button-div">
                        <a class="top-links" href="/index.html">
                            <img src="/img/cd.gif" width=15 height=15 class="icon">Blog
                        </a>
                    </div>
                </td>
                <td class="top-table">
                    <div id="links-button-div">
                        <a class="top-links" href="/index.html">
                            <img src="/img/folder.gif" width=15 height=15 class="icon">Links
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="content">
$CONTENT$
    </div>
    <footer class="footer">
        <p>Last edited $EDITDATE$</p>
        <p>E-mail me at <a href="mailto:s1Jh.199@gmail.com">s1Jh.199@gmail.com</a></p>
    </footer>
    <script src="/scripts.js"></script>
    <link rel="stylesheet" href="/styles/default.min.css">
    <script src="/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>
